
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^index?$ index.php
RewriteRule ^index/$ index.php

RewriteRule ^([a-z-_0-9]+)\/?$ index.php?page=$1 [NC]
RewriteRule ^/?([a-zA-Z-_0-9]+)/([a-zA-Z_0-9]+)$ index.php?page=$1&id=$2 [L]



